# Ignore .env file
.env

# Ignore the env directory
env/

# Ignore the .vscode directory
.vscode/

# Ignore db.sqlite3 file
db.sqlite3

# Ignore migrations directories
**/migrations/

# Ignore __pycache__ directories
**/__pycache__/
